<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo App Flask</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        * body {
            background: #E6ECF0;
        }
    </style>
</head>
<body>
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h3>Todo App</h3><br>
                <form  method="POST" action="/addTask" >
                      <div class="row">
                          <div class="col-md-8">
                                <input type="text" class="form-control" name="text" placeholder="Write a new todo here..">
                          </div>
                          <div class="col-md-4">
                                <button type="submit" style="width: 100%;" class="btn btn-primary"><i class="fa fa-plus"></i> Add Todo</button>
                          </div>
                      </div>                  
                </form>
                <br>
                <ul class="list-group">
                    {% for todo in todos %}      
                            <li class="list-group-item">
                                {{todo.text}}              
                                <div style="float:right">
                                    {% if todo.complete==True %}             
                                        <a href="updateTask/{{todo.id}}"  class="btn btn-sm btn-info"><i class="fa fa-refresh"></i> Undo</a> &nbsp; <a href="deleteTask/{{todo.id}}"  class="btn btn-sm btn-danger" ><i class="fa fa-times"></i> Delete</a><br>
                                    {% else %}
                                        <a href="updateTask/{{todo.id}}" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Mark as Done</a><br> 
                                    {% endif %}
                                </div>
                            </li>                                
                    {% endfor %}  
                </ul>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>    
         
</body> 
</html>